.input-container {
    position: relative;
    background-color: green;
    height: 80vh;
    overflow-y: auto;
}
.output-container {
    background-color: blue;
    height: 80vh;
}
.result-container {
    background-color: red;
    height: 20vh;
}
