.overflow-y {
    position: relative;
    overflow-y: auto;
}
.input-container {
    border: solid #ccc 1px;
    border-radius: 2px;
    margin: 2px;
    height: 78vh;
}
.output-container {
    border: solid #ccc 1px;
    border-radius: 2px;
    margin: 2px;
    height: 78vh;
}
.result-container {
    border: solid #ccc 1px;
    border-radius: 2px;
    margin: 2px;
    height: 20vh;
}
