<md-content layout-padding>
    <md-input-container class="md-block">
        <label>Employee Pay Information</label>
        <textarea rows="100" 
                  ng-model="rawInput" 
                  ng-change="validateInputs()"
                  aria-label="Employee Pay Information">
                  autofocus
        </textarea>
        <div class="hint">
            Expected input: first name, last name, annual salary, super rate (%), payment start date<br/>
            e.g. David,Rudd,60050,9%,01 March – 31 March
        </div>
    </md-input-container>
</md-content>
